/*
@font-face {
    font-family: 'Beatrice Headline Trial', sans-serif;
    src: url('beatrice_headline_trial_regular.ttf')  format('truetype'),
         url('beatrice_headline_trial_regular.otf')  format('opentype'),
         url('beatrice_headline_trial_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrice Headline Trial', sans-serif;
    src: url('beatrice_headline_trial_medium.ttf')  format('truetype'),
         url('beatrice_headline_trial_medium.otf')  format('opentype'),
         url('beatrice_headline_trial_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrice Headline Trial', sans-serif;
    src: url('beatrice_headline_trial_bold.ttf') format('truetype'),
         url('beatrice_headline_trial_bold.otf')  format('opentype'),
         url('beatrice_headline_trial_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*/

@import url('https://fonts.cdnfonts.com/css/beatrice-display-trial');
                
@font-face {
    font-family: 'Barrio', sans-serif;
    src: url('barrio_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
                                                
@font-face {
    font-family: 'Menlo Regular', sans-serif;
    src: url('menlo_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* *********************************** */
/* Resetting the default browser style */
/* *********************************** */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #efefef;
    font-family: 'Beatrice Headline Trial', sans-serif;
}

/* **************************************************************************** */
/* Margin is providing space beyond the element's box and therefore won't be    */
/* colored - it's simply space. Padding on the other hand provides space around */
/* the inside of the element's box and is colored and affected by other styles. */
/* **************************************************************************** */
header {
    text-align: center;
    background-color: black;
    padding: 1% 0;
}

header > h1 {
    color: white;
    font-family: 'Barrio', sans-serif;
    font-size: 2em;
}

/* ********************************************************************************* */
/* The ‘overflow’ property results in the height of the footer being enlarged so     */
/* that it also contains the top margin of the topmost element and the bottom margin */
/* of the bottommost element, preventing them from exiting the parent tag (footer).  */
/* ********************************************************************************* */
footer {
    background-color: black;
    font-family: 'Beatrice Headline Trial', sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: 70%;
    padding: 2% 0;
}

footer a, footer a:visited {
    color: white;
}

/* **************************************************************** */
/* Vertical space between lists, considering that margins collapse. */
/* **************************************************************** */
footer > nav > ul {
    margin: 2% 0;
}

/* ********************************************************************************* */
/* Vertical space between links within each list, considering that margins collapse. */
/* ********************************************************************************* */
footer > nav > ul > li {
    margin: 2% 0;
}

/* ************************************************************************* */
/* Here we convert the social-media-related list items into in-line elements */ 
/* so that their content, i.e. the icons/links, can be placed side-by-side,  */ 
/* as a horizontal arrangement of these would have been unnatural.           */
/* ************************************************************************* */
.social-media-link {
    display: inline-block;
    margin: 0 2%;
}



/* link burocrazia, piu piccoli, stessa riga */
footer > nav:nth-child(4) > a {
    font-size: 60%;
}

footer > nav:nth-child(4) > p {
    display: inline-block;
    color: white;
    font-size: 200%;
    text-align: center;
}

main {
    background-color: #efefef;
}

main > div > img {
    width: 100%;
    height: auto;
}

aside p {
    color: black;
    font-family: 'Barrio', sans-serif;
}












*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 5px;
  --foreground: white;
  --background: white;
  --hamburger-margin: 12px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

/* **************************************************************************** */
/* We want, similarly to the high-fidelity mockup, each <li> containing a link  */
/* in the pop-up menu to change background colour as the cursor passes over it. */
/* **************************************************************************** */
.sidebar > nav > ul > li:hover {
  background-color: #f2f2f2;
}

.sidebar > input {
  width: 100%;
  margin-bottom: 10%;
}

/* ********************************************************************************* */
/* In order to space the menu items correctly, we first turn the <a> into block      */
/* elements so that they occupy the entire area of the container (<li>), and then    */
/* take advantage of their padding to move the text away from the borders. In this   */
/* way the whole area of <li> will remain clickable, and change colour as the cursor */
/* passes, whereas if we had used the margins we would have generated ‘dead’ areas.  */
/* ********************************************************************************* */
.sidebar > nav > ul > li > a {
  display: block;
  padding: 5% 10%;
}


/*
li.menu-item:not(:last-child) { 
   margin-bottom: 3px;  
}
*/

















































































/*
– [CSS] Vogliamo che il testo “a” all’interno di un bottone si illumini anche se sono sopra il bottone ma non sopra il testo con il cursore (e dunque che l’utente venga re-indirizzato quando questa parte viene cliccata), per questo motivo devo allargare l’area di “a” a tutto il “listItem” (e non gestire gli spazi con il padding internamente al “listItem”, altrimenti l’area di a rimarrebbe la stessa). Tuttavia per far ciò dovremmo cambiare la natura in-line di “a” attraverso “display: in- line block” poiché altrimenti occuperebbe solamente la larghezza del contenuto, ed impostare “height” e “width” a 100%. Anche se ci sarà del padding per centrare il testo il link si attiverà anche ai bordi.

*/ 
@media screen and (min-width:768px){

    * {
        background-color: red;
        color: red;
    }
}